.left-half-of-web-page{
    padding: 13px 13px 13px 13px ;
    border-right: solid 1px rgb(223,223,223);
    width: 245px ;
}

.navbar-header{
    margin-top: 27px ;
    margin-left: 11px ;
    position: relative ;
}

.logo-img{
    width: 103px ;
    cursor: pointer ;
}

.nav-icons{
    padding-top: 32px ;
    position: relative ;
}

.nav-element{
    display: flex ;
    align-items: center ;
    border-radius: 8px ;
    cursor: pointer ;
    padding: 11px 0px 11px 11px ;
    margin-bottom: 10px ;
    position: relative ;
}

.nav-element:hover, .bottom-elemet:hover{
    background-color: rgb(242, 242, 242);
}

.nav-element img, .bottom-elemet img{
    margin-right: 16px ;
}

.nav-element p, .bottom-elemet p{
    margin-top: 0.5px ;
}

.profile-picture{
    border-radius: 50% ;
    height: 24px ;
    width: 24px ;
}

.bottom-elemet{
    display: flex ;
    align-items: center ;
    border-radius: 8px ;
    cursor: pointer ;
    padding: 11px 140px 11px 11px ;
    margin-bottom: 10px ;
    position: absolute ;
    bottom: 15px ;
}

@media(max-height: 635px){
    .bottom-elemet{
        opacity: 0 ;
        width: 0px;
        font-size: 0px ;
    }

    .bottom-elemet img{
        width: 0px ;
    }
}


.notification{
    position: absolute ;
    color: white ;
    background-color: rgb(255,48,64) ;
    font-size: 11px ;
    font-weight: 400 ;
    left: 25px ;
    border: solid 1px white ;
    border-radius: 20px ;
    padding: 2px 5.5px 2px 5.5px ;
    top: 3px ;
}

.notification-2{
    position: absolute ;
    color: rgb(255,48,64)  ;
    background-color: rgb(255,48,64) ;
    font-size: 11px ;
    font-weight: 400 ;
    left: 28px ;
    border: solid 1px white ;
    border-radius: 50% ;
    top: 10px ; 
    height: 10px ;
    width: 9px ;
}

.substitute-logo{
    position: absolute ;
    width: 22px ;
    left: 1px ;
    height: 22px ;
    top: -3px ;
    cursor: pointer ;
    opacity: 0 ;
}

@media(max-width: 1263px){
    .logo-img{
        opacity: 0 ;
        cursor: none ;
    }

    .substitute-logo{
        opacity: 1 ;
    }

    .nav-element p, .bottom-elemet{
        font-size: -0px ;
    }

    .left-half-of-web-page{
        padding: 13px 13px 13px 13px ;
        border-right: solid 1px rgb(223,223,223);
        width: 73px ;
    }
}
